@--lc-button-padding:0.5rem 1rem;
@--lc-button-radius: 0.3rem;
@--lc-button-text-color: #fff;
@--lc-button-bg-color-primary: #3b82f6;
@--lc-button-bg-color-warning: #f59e0b;
@--lc-button-background-transition:background-color 0.15s ease-in-out;
@--lc-button-shadow-transition: 0.5s;
.lc-button {
  border: none;
  font-size: 1rem;
  display: inline-block;
  padding: @--lc-button-padding;
  border-radius: @--lc-button-radius;
  border: 1px solid;
  cursor: pointer;
  outline: none;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: @--lc-button-shadow-transition;
  }
  &:active::after {
    opacity: 1;
    transition: 0s;
  }
  &:disabled::after {
    opacity: 0;
  }
  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-loading {
    margin-right: 10px;
    animation: rotate 1s linear infinite;
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  &-primary {
    background-color: @--lc-button-bg-color-primary;
    color: @--lc-button-text-color;
    border-color: @--lc-button-bg-color-primary;
    transition: @--lc-button-background-transition;
    &:hover {
      background-color: lighten(@--lc-button-bg-color-primary, 5%);
    }
    &::after {
      box-shadow: 0 0 10px darken(@--lc-button-bg-color-primary, 5%);
    }
    &:active {
      background-color: darken(@--lc-button-bg-color-primary, 5%);
    }
    &:disabled {
      border-color: rgba(@--lc-button-bg-color-primary, 0.6);
      background-color: rgba(@--lc-button-bg-color-primary, 0.6);
      cursor: not-allowed;
    }
  }
  &-warning {
    background-color: @--lc-button-bg-color-warning;
    color: @--lc-button-text-color;
    border-color: @--lc-button-bg-color-warning;
    transition: @--lc-button-background-transition;
    &:hover {
      background-color: lighten(@--lc-button-bg-color-warning, 5%);
    }
    &::after {
      box-shadow: 0 0 10px darken(@--lc-button-bg-color-warning, 5%);
    }
    &:active {
      background-color: darken(@--lc-button-bg-color-warning, 5%);
    }
    &:disabled {
      border-color: rgba(@--lc-button-bg-color-warning, 0.6);
      background-color: rgba(@--lc-button-bg-color-warning, 0.6);
      cursor: not-allowed;
    }
  }
}
