@import '../../design/var.less';
@--lc-button-padding:0.3rem 1.2rem;
@--lc-button-radius: 0.3rem;
@--lc-button-text-color-white: #fff;
@--lc-button-text-color-dark: #000;
@--lc-button-background-transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,color 0.15s ease-in-out;
@--lc-button-shadow-transition: 0.5s;
/** 颜色列表 */
@--lc-button-bg-color-default: #fff;
@colors: @--lc-color-primary, @--lc-color-warning, @--lc-color-error;
@types: primary, warning, error;

/** 基础类 */
.lc-button {
  border: none;
  font-size: 1rem;
  color: @--lc-button-text-color-white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: @--lc-button-padding;
  border-radius: @--lc-button-radius;
  border: 1px solid;
  cursor: pointer;
  outline: none;
  position: relative;
  white-space: nowrap;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: @--lc-button-shadow-transition;
  }
  &:has(.lc-button-content) {
    .lc-icon {
      margin-right: 5px;
    }
  }
  &:active::after {
    opacity: 1;
    transition: 0s;
  }
  &:disabled::after {
    opacity: 0;
  }
  &-loading {
    margin-right: 10px;
    animation: rotate 1s linear infinite;
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  &-round {
    border-radius: 100px;
  }
  &-circle {
    border-radius: 50%;
    padding: 0;
    width: 2rem;
    height: 2rem;
  }
}

/** default */
.lc-button-default {
  background-color: @--lc-button-bg-color-default;
  color: lighten(@--lc-button-text-color-dark, 35%);
  border-color: darken(@--lc-button-bg-color-default, 15%);
  transition: @--lc-button-background-transition;
  .lc-icon {
    fill: lighten(@--lc-button-text-color-dark, 15%);
  }
  &:hover {
    color: @--lc-color-primary;
    border-color: @--lc-color-primary;
    .lc-icon {
      fill: @--lc-color-primary;
    }
  }
  &::after {
    box-shadow: 0 0 10px lighten(@--lc-color-primary, 15%);
  }
  &:active {
    color: darken(@--lc-color-primary, 15%);
  }
  &:disabled {
    color: lighten(@--lc-button-text-color-dark, 55%);
    border-color: darken(@--lc-button-bg-color-default, 20%);
    background-color: rgba(@--lc-button-bg-color-default, 0.6);
    cursor: not-allowed;
  }
  // 文字按钮
  &.lc-button-text {
    background-color: transparent;
    border-color: transparent;
    &::after {
      box-shadow: none;
    }
    .lc-icon {
      fill: darken(@--lc-button-text-color-dark, 10%);
    }
    &:disabled {
      color: lighten(@--lc-button-text-color-dark, 60%);
    }
    &:has(.lc-icon) {
      color: lighten(@--lc-button-text-color-dark, 60%);
    }
  }
}

.dark {
  .lc-button-default {
    &:disabled {
      color: lighten(@--lc-button-text-color-dark, 100%);
    }
    &.lc-button-text {
      color: lighten(@--lc-button-text-color-dark, 60%);
      .lc-icon {
        fill: lighten(@--lc-button-text-color-dark, 60%);
      }
      &:has(.lc-icon) {
        color: lighten(@--lc-button-text-color-dark, 35%);
      }
    }
  }
}

/** 循环生成类 */
.generate-class(@i) when(@i>0) {
  @name: extract(@types, @i);
  .lc-button-@{name} {
    @color: extract(@colors, @i);
    background-color: @color;
    border-color: @color;
    transition: @--lc-button-background-transition;
    .lc-icon {
      fill: @--lc-button-text-color-white;
    }
    &:hover {
      background-color: lighten(@color, 5%);
    }
    &::after {
      box-shadow: 0 0 10px darken(@color, 5%);
    }
    &:active {
      background-color: darken(@color, 5%);
    }
    &:disabled {
      border-color: rgba(@color, 0.6);
      background-color: rgba(@color, 0.6);
      cursor: not-allowed;
    }
    &.lc-button-plain {
      background-color: rgba(@color, 10%);
      color: darken(@color, 10%);
      .lc-icon {
        fill: darken(@color, 10%);
      }
      &:hover {
        background-color: @color;
        color: @--lc-button-text-color-white;
        .lc-icon {
          fill: @--lc-button-text-color-white;
        }
      }
      &:disabled {
        border-color: rgba(@color, 0.6);
        background-color: rgba(@color, 10%);
        color: rgba(@color, 0.6);
        cursor: not-allowed;
      }
    }
    // 文字按钮
    &.lc-button-text {
      color: @color;
      background-color: transparent;
      border-color: transparent;
      &::after {
        box-shadow: none;
      }
      .lc-icon {
        fill: darken(@color, 10%);
      }
      &:disabled {
        color: rgba(@color, 0.6);
      }
    }
    &.lc-button-text:has(.lc-icon) {
      color: rgba(@color, 0.6);
    }
    .lc-icon {
      fill: @--lc-button-text-color-white;
    }
  }
  .generate-class(@i - 1);
}
.generate-class(length(@types));
