@import '../../design/var.less';
@--lc-input-font-size: calc(@--lc-font-size-base * 0.9);
@--lc-input-color-font: lighten(@--lc-color-default, 20%);
@--lc-input-color-placeholder: lighten(@--lc-color-default, 50%);
@--lc-input-color-border-default: #ccc;
@--lc-input-padding: 0 0.5rem;
@--lc-input-textarea-padding: 0.3rem 0.5rem;
@--lc-input-height: 2rem;
@--lc-input-rounded: 3px;
.lc-input {
  position: relative;
  background: @--lc-color-white;
  max-width: 100%;
  width: 15rem;
  min-width: 3rem;
  height: @--lc-input-height;
  line-height: @--lc-input-height;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid @--lc-input-color-border-default;
  border-radius: @--lc-input-rounded;
  padding: @--lc-input-padding;
  transition: all 0.2s;
  &:hover {
    border: 1px solid darken(@--lc-input-color-border-default, 10%);
  }
  &:has(.lc-input__inner:focus) {
    border: 1px solid @--lc-color-primary;
  }
  &__inner {
    background: transparent;
    min-width: 3rem;
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    color: @--lc-input-color-font;
    font-size: @--lc-input-font-size;
    font-weight: normal;
    border-radius: @--lc-input-rounded;
    &::placeholder {
      color: @--lc-input-color-placeholder;
      font-size: @--lc-input-font-size;
      font-weight: normal;
    }
    &[type='password'] {
      font-size: @--lc-font-size-base;
      letter-spacing: 2px;
    }
    &[type='textarea'] {
      padding: @--lc-input-textarea-padding;
      min-height: @--lc-input-height;
      line-height: 1.5;
    }
  }
  &:has(.lc-input__inner:disabled),
  &:has(.lc-input__inner:read-only) {
    cursor: not-allowed;
    background: @--lc-border-color-gay;
    .lc-input__inner {
      cursor: not-allowed;
      color: @--lc-input-color-placeholder;
    }
    .lc-input__suffix .lc-icon {
      cursor: not-allowed;
    }
  }
  &__suffix {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    color: @--lc-input-color-border-default;
    .lc-icon {
      width: @--lc-input-font-size;
      height: @--lc-input-font-size;
      cursor: pointer;
    }
    .lc-input__count {
      font-size: calc(@--lc-input-font-size * 0.9);
    }
  }

  &:has(.lc-input__inner[type='textarea']) {
    position: relative;
    padding-right: 0;
    height: auto;
    min-height: @--lc-input-height;
    .lc-input__count {
      position: absolute;
      color: @--lc-input-color-font;
      right: 0;
      line-height: 1;
      bottom: calc(@--lc-input-font-size * -1.2);
    }
  }
}
